@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .container {
        width: 90%;
    }

    .loginbox, .signup-box {
        width: 90%;
        left: 0;
    }

    .btn {
        width: 100%;
    }
}
